<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <logging>
        <log type="coverage-html"  target="build/coverage" title="Academe\\Leave"
        charset="UTF-8" yui="true" highlight="true"
        lowUpperBound="35" highLowerBound="true" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="build/phpdox/index.html"/>
        <log type="testdox-txt" target="build/phpdox/testdox.txt"/>
    </logging>

    <testsuites>
        <testsuite name="unit">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>